/* mimic the native viewport full width/height + flex */
a {
  text-underline-offset: 2px;
  text-decoration-thickness: 0.75px;
  /* text-decoration: none; */
  /* text-decoration-color: var(--color-21); */
  /* text-decoration-style: dotted; */
}

body {
  font-size: 1.2rem;
  letter-spacing: 0.005rem;
  font-weight: 375;
}

body,
div {
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
hr {
  -moz-transition: border-bottom-color 0.5s ease;
  -webkit-transition: border-bottom-color 0.5s ease;
  -o-transition: border-bottom-color 0.5s ease;
  transition: border-bottom-color 0.5s ease;
}

card,
card * {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

span > a {
  text-underline-offset: 5%;
  text-decoration-thickness: 1px;
}
span > a:hover {
  background-color: var(--color);
  color: var(--background);
  /* text-underline-offset: 5.5px; */
  text-underline-offset: 26%;
  text-decoration-color: var(--color);
}

::selection {
  background-color: var(--color);
  color: var(--background);
}
